<!DOCTYPE html>
<html lang="en"
      xmlns="http:/>/www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>index</title>
</head>
<body>
    <h1>Witaj wędrowcze na stronie głównej</h1>

    <tbody>
    Zalogowany użytkownik to:
    <label th:text="${userLogin}"></label>
    </tbody>

    <h1>Dyskusja: </h1>

    <table>
        <tbody>
        <tr th:each="post : ${allPosts}">
                <td th:text="${post.text}"></td>
                <td th:text="${post.createDate}"></td>
                <td th:text="${post.user.login}"></td>
        </tr>
        </tbody>
    </table>

</body>
</html>