<!DOCTYPE html>
<html lang="en"
      xmlns="http:/>/www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Strona logowania</title>
</head>

<body style="text-align: center">
<form th:action="@{/login-process}" method="post">

    <p th:if="${param.error}"
       th:text="'Podany login lub hasło są nieprawidłowe'"></p>

    <h3>Zaloguj się</h3>

    <label for="inputLogin">Login:</label>
    <input type="text" id="inputLogin" placeholder="Podaj login"
           th:required="required" name="username"/>

    <label for="inputPassword">Password:</label>
    <input type="password" id="inputPassword" th:required="required"
           placeholder="Podaj hasło" name="password"/>

    <button type="submit">Zaloguj</button>

</form>
<h4>Nie masz konta? Zarejestruj się! </h4>

<form action="/register">
    <button class="btn btn-success" type="submit"> Zarejestruj się!</button>
</form>

</body>
</html>